@page "/"

<h1 class="helloWorld">Welcome to ToDoList</h1>
<br />
Users can do the following: <br/>
Oliver, 654321: Admin, see all tasks, create and delete tasks for all <br />
Kasper, 654321: Admin, see all tasks, can't create or delete tasks <br />
Troels, 123456: User, can see own tasks, create and delete own tasks
